@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
  padding:0;
  margin: 0;
  scroll-behavior: smooth !important;
  background-color: #e5e7eb;
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

/* #main__section{
  background: linear-gradient(132deg, #05219f, #0743bd, #1d61aa);
    background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
} */

#main__section{
  background-image: url(../public/assets/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}


/* Animate Background*/
/* @keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */